name: Build binaries

on:
  push:
  pull_request:
  repository_dispatch:
    types: [run_build]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]

    steps:
    - uses: actions/checkout@v4
    
    - name: Install Ubuntu requirements
      if: matrix.os == 'ubuntu-latest'
      run: |
        echo "Linux requirements"
        #sudo apt-get update
        #sudo apt-get -y install zlib
    
    - name: Install macOS requirements
      if: matrix.os == 'macos-latest'
      run: |
        echo "macOS requirements"
        #brew update
        #brew install zlib

    - name: Install polarSSL
      run: |
        git clone https://github.com/bucanero/oosdk_libraries.git --depth 1
        cd oosdk_libraries/polarssl-1.3.9
        mkdir build && cd build
        cmake .. -DCMAKE_POLICY_VERSION_MINIMUM=3.5
        make polarssl

    - name: Build Apollo CLI tools
      run: |
        cd tools
        make BIGENDIAN=1
        mv patcher patcher-bigendian
        make clean && make

    - name: Get short SHA
      run: echo "sha_name=$(echo ${GITHUB_SHA} | cut -c1-8)" >> $GITHUB_ENV

    - uses: actions/upload-artifact@v4
      with:
        name: apollo-cli-${{ env.sha_name }}-${{matrix.os}}
        path: |
          tools/patcher
          tools/parser
          tools/dumper
          tools/patcher-bigendian
