name: Build Windows binaries

on:
  push:
  pull_request:
  repository_dispatch:
    types: [run_build]

jobs:
  msys:
    runs-on: windows-2022
    strategy:
      matrix:
        mingw: ["MINGW32", "MINGW64"]
        include:
          - mingw: "MINGW32"
            package: "mingw-w64-i686"
          - mingw: "MINGW64"
            package: "mingw-w64-x86_64"
    defaults:
      run:
        shell: bash.exe --login -eo pipefail "{0}"
    env:
      MSYSTEM: ${{ matrix.mingw }}
      CHERE_INVOKING: 1
    name: MSYS2 ${{ matrix.mingw }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up shell
        run: echo "C:\msys64\usr\bin\" >> $GITHUB_PATH
        shell: pwsh

      - name: Install MinGW requirements
        run: |
          uname
          echo "$GITHUB_WORKSPACE"
          #pacman -S --noconfirm ${{ matrix.package }}-zlib-devel
          # build the project

      - name: Install mbedTLS
        run: |
          curl -sL https://src.fedoraproject.org/repo/pkgs/mbedtls/mbedtls-2.16.12.tar.gz/sha512/8d96d8cd906cc0999134320e4e1f550631426d166eab5da6e65469ee7286093810fcc6ac4bd5500ee55972d159f8bef7f9e53245f7f0eec72f72c35265b4313b/mbedtls-2.16.12.tar.gz | tar xvz -C ./
          cd mbedtls-2.16.12/library
          mkdir -p ../build/library
          CC=gcc make static
          cp libmbedcrypto.a ../build/library

      - name: Build binaries
        run: |
          cd tools
          make BIGENDIAN=1
          mv patcher.exe patcher-bigendian.exe
          make clean && make

      - name: Get short SHA
        run: echo "sha_name=$(echo ${GITHUB_SHA} | cut -c1-8)" >> $GITHUB_ENV
    
      - name: Compress output
        run: |
          tar -zcvf build.tar.gz tools/patcher.exe tools/parser.exe tools/dumper.exe tools/patcher-bigendian.exe

      - uses: actions/upload-artifact@v4
        with:
          name: build-${{ env.sha_name }}-${{matrix.mingw}}
          path: build.tar.gz
